<% include partials/header %>

    <div id="main">
        <div class="container">
            <div class="row">
                <% builds.forEach(function(build) {%>
                    <div class="card col-sm-3">
                        <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Comp Img">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= build.name %>
                            </h5>
                            <h5 class="card-title">
                                <%= build.author %>
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <%})%>
            </div>

        </div>

    </div>

    <% include partials/footer %>