<% include partials/header %>

    <div id="main">
        <div class="container test">
                <h1 class='header'>Search Page</h1>

        </div>

    </div>

    <% include partials/footer %>