/* The side navigation menu */
body{
    background: #222121;
}
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #2C2C2C;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.account {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #2C2C2C;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.account a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: right;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

.account a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.account .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: all 2s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .account {
        padding-top: 15px;
    }
    .account a {
        font-size: 18px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    height: 75px;
}
.fa-bars{
    height: 50%;
}

li {
    float: left;
}

li i {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li i:hover {
    background-color: #2C2C2C;
    color: #4CAF50;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-brand {
    /* right: 50%; */
    position: absolute;
    width: 33%;
    left: 33%;
    /* top: 0; */
    text-align: center;
    margin: auto;
    color: #4CAF50;
    font-size: 50px;
}

.navbar-toggle {
    z-index: 3;
}
.navbar{
    background: #333;
}
.navRight{
    padding: 0 !important;
    padding-top: 80% !important;
    text-align: center;
    height:33%;
    border: 1px solid #4caf50;
}