/* The side navigation menu */

body {
    background: #222121;
    font-family: 'Raleway', sans-serif;
}

.sidenav {
    max-width: 450px;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #2C2C2C;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.account {
    max-width: 450px;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #2C2C2C;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* Place content 60px from the top */
    transition: 0.5s;
    text-align: center;
    border: 1px solid #4caf50;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a,
.account a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

.account a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.account .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: all 2s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 75px;
}

.fa-bars {
    height: 50%;
}

i {
    padding: 15px 35px;
    color: #4CAF50;
    transition: .5s;
}

li i {
    display: block;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

i:hover {
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-brand {
    /* font-weight: 800; */
    margin: 0 auto;
    color: #4CAF50;
    font-size: 50px;
}

.navbar-toggle {
    z-index: 3;
}

.navbar {
    background: #333 !important;
}

.navRight {
    /* padding: 0 !important; */
    /* padding-top: 80% !important; */
    text-align: center;
    /* height: 360px; */
    border: 1px solid #4caf50;
    height: 33.3%;
    vertical-align: middle;
}

a p {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 35px;
}

.backArrow {
    transition: all .3s;
    display: none;
    position: absolute;
    top: 0;
    padding: 22px 35px;
    color: white;
}

.backArrow:hover {
    color: #4caf50;
}

.fa-angle-left:before:hover {
    background: #2C2C2C
}

.profile {
    border-radius: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid rgb(76, 175, 80);
    vertical-align: middle;
    margin-top: 25px;
}

.right {
    transition: .5s;
    left: 0;
}

.left {
    transition: .5s;
    right: 0;
}

.fa-user-circle {
    position: absolute;
    right: 0;
}

.fa-bars {
    position: absolute;
    left: 0;
}
.header {
    color: white;
    text-align: center;
    font-size: 85px;
    padding: 85px;
}

@media screen and (max-width:500px) {
    .fa-bars,
    .fa-user-circle {
        font-size: 35px;
        padding: 21px 25px;
    }
    .left{
        left: 0 !important;
    }
    .right{
        right: 0 !important;
        left: unset;
    }
    .mobileNav{
        width : 100% !important;
    }
    .navbar-brand {
        font-size: 30px;
    }
}
.search {
    border-radius: 100px;
    margin: 35px auto;
    margin-top: 100px;
    width: 75%;
    background: rgb(22, 21, 21);
    color: white;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    border: none;
    
}
.search:focus{
    background: black;
    color: white;
    box-shadow: 0px 0px 8px 1px rgba(13,255,0,1);
    border: none;
    
}
.white{
    color: white;
    font-size: 5rem;
}
.green{
    color: #4CAF50;
    font-size: 1.8rem;
}
.card{
    margin: 3em 2em;
}
h1 a{
    color: #4CAF50
}
h1 a:hover{
    color: #4CAF50;
    text-decoration:none;
}
.indexText{
        text-align: center;
        margin-top: 10em;
}
.row {
        justify-content: center
}
